################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/GrpcGreeter/bin/Debug/netcoreapp3.1
/GrpcGreeter/obj
/.vs/GrpcGreeter/v16
/GrpcGreeter/appsettings.Development.json
/GrpcGreeterClient/bin/Debug/netcoreapp3.1
/GrpcGreeterClient/obj
